NEXT_PUBLIC_DOMAIN="http://localhost:3000"

# Database
DATABASE_URL="your_database_url_here"

# Node
NODE_ENV="production"

# Auth
BETTER_AUTH_SECRET="your_auth_secret_here"
BETTER_AUTH_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

# UploadThing
UPLOADTHING_TOKEN="your_uploadthing_token"

# Resend
RESEND_API_KEY="your_resend_api_key"

# PostHog
NEXT_PUBLIC_POSTHOG_KEY="your_posthog_key"
NEXT_PUBLIC_POSTHOG_HOST="https://app.posthog.com"
