# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.
# Drizzle
DATABASE_URL="file:./fake_db.sqlite"
NEXT_PUBLIC_DOMAIN="http://localhost:3000"

# Zone DB (PostgreSQL/Neon Example)
DATABASE_URL="postgresql://fake_db_user:fake_password_123@ep-fake-cluster-pooler.c-2.us-east-1.aws.neon.tech/fake_db_name?sslmode=require"

# Next.js/Node
NODE_ENV="production"

# Better-auth authentication
BETTER_AUTH_SECRET="THIS_IS_A_FAKE_SECRET_KEY_FOR_TESTING_ONLY_XYZ123ABC"
BETTER_AUTH_URL="http://localhost:3000"

## Google credentials for auth
GOOGLE_CLIENT_ID="999999999999-fakeclientidxyz123abc.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-fake_client_secret_xyz123abc"

## upload things
UPLOADTHING_TOKEN"uploadthing-fake-token-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
